<div class="container-fluid h-100">
  <div class ="row outer-top-nav">
    <div id="name" class="col-md-2 col-sm-12">
      <p id="title"><a href="" [routerLink]="['/']" style="background: transparent;">MATT VITELLO</a></p>
    </div>
    <div id="top-buffer" class="col-md-10"></div>
    <div id="top" class="col-md-10 col-sm-12">
      <ul class="top-nav">
        <li class="t-item"><a class="projects-tab" href="" [routerLink]="['/projects']" routerLinkActive="active-link">PROJECTS</a></li>
        <li class="t-item"><a class="photo-tab" href="" [routerLink]="['/photo']" routerLinkActive="active-link">PHOTO</a></li>
        <li class="t-item"><a class="contact-tab" href="" [routerLink]="['/contact']" routerLinkActive="active-link">CONTACT</a></li>
        <li class="t-item" style="margin-right:0px;"><a href="https://github.com/mattvitello">CODE</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
